<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/home.css">
    <link rel="stylesheet" type="text/css" href="/css/loading.css">
    <link rel="stylesheet" type="text/css" href="/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="/css/encrypt.css">
    <link rel="stylesheet" type="text/css" href="/css/modal.css">
    <!-- <link rel="stylesheet" type="text/css" href="/css/custom.css"> New custom styles -->

    <title>Encryption</title>
</head>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="header_img" id="profile-pic"> 
            <img id="profile-picture" src="../images/account_circle_FILL0_wght200_GRAD200_opsz24.png" alt="Profile Picture">
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="/home" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">JTR</span> </a>
                <div class="nav_list">
                    <a href="/home" class="nav_link"> <i class='bx bx-home' ></i> <span class="nav_name">Home</span> </a>
                    <a href="/encrypt" class="nav_link active"> <i class='bx bxs-lock'></i> <span class="nav_name">Encrypt</span> </a>
                    <a href="/decrypt" class="nav_link"> <i class='bx bxs-lock-open'></i> <span class="nav_name">Decrypt</span> </a>
                    <a href="/keymanagement" class="nav_link"> <i class='bx bx-key'></i> <span class="nav_name">Key Management</span> </a>
                    <a href="/history" class="nav_link"> <i class='bx bx-history'></i> <span class="nav_name">History</span> </a>
                    <a href="/fileInbox" class="nav_link"> <i class='bx bxs-inbox'></i><span class="nav_name">File Inbox</span> </a>
                </div>
            </div>
            <i class="nav_link" id="signOutLink"> 
                <i class='bx bx-log-out nav_icon' id="signOutIcon"></i>
                <span class="nav_name" id="signOutText">Sign Out</span>
            </i>
        </nav>
    </div>
    <div id="main-content" class="container-fluid">

        <div id="shareModal" class="modal" style="display: none;">
            <div class="modal-content">
              <span class="close" id="closeModal">&times;</span>
              <h2>Share</h2>
              <input type="text" id="userNameInput" placeholder="Search for username">
              <div id="userDropdown" class="dropdown-content"></div>
              <div id="selectedUserDiv" class="selected-user"></div>
              <button id="confirmShare" onclick="module.shareFile()">Share</button>
            </div>
        </div>

    </div>

    <div id="scan-loader" class="scan-loader">
        <div id="loading-text">Scanning Files</div>
        <div class="spinner"></div>
    </div>
    <div class="wrapper">
        
        <div class="encasement-container">
            <div class="key-dropdown-container">
                <label for="key-dropdown">Select Key:</label>
                <select id="key-dropdown" class="form-control">
                    <!-- Add more key options as needed -->
                </select>
            </div>
            <form id="upload-form" enctype="multipart/form-data" class="drag-zone-container">
                <div id="drop-area" class="file-drop-area" ondrop="module.handleDrop(event)" ondragover="module.handleDragOver(event)">
                    <box-icon name='upload'></box-icon>
                    <p>Drag and drop your files here</p> or
                    <div class="button-container">
                        <label for="file-input-encrypt" class="btn btn-primary rounded-pill">SELECT FILES</label>
                        <input type="file" id="file-input-encrypt" name="files" multiple style="display: none;">
                        <div class="drive-picker-buttons">
                            <button id="launchPicker" class="btn btn-info">
                                <img src="../images/onedrive-1.svg" alt="OneDrive Icon" class="svg-icon">
                                Choose from OneDrive
                            </button>
                            <button id="googlepocker" class="btn btn-danger" >
                                <img src="../images/google-drive.svg" alt="Google Drive Icon" class="svg-icon">
                                Choose From Google Drive
                            </button>
                        </div>
                    </div>
                </div>
            </form>        
        

        </div>
        <div class="FilesContainer" id="files-details-container">
            <div class="input-group md-form form-sm form-2 pl-0">
            </div>

            <div id="file_items"></div>
        </div>
        
        <div id="file-details-container" class="file-details-container">
            <!-- File details will be displayed here -->
        </div>
    </div>

    <button id="encryptButton" class="eButton" >Encrypt Now</button>
    
    
    <script type="text/javascript" nonce="<%= nonce %>">
        const module = {};
    </script>
    

    <script src="/js/navbar.js"  nonce="<%= nonce %>" ></script>
    <script type="text/javascript" src="https://alcdn.msauth.net/browser/2.19.0/js/msal-browser.min.js"  nonce="<%= nonce %>"></script>
    <script type="module" src="/js/cookie_login.js"></script>
    <script type='module' src="/js/home.js" nonce="<%= nonce %>"></script>
    <script src="/js/toprofilePage.js" nonce="<%= nonce %>"></script>
    <script src="/js/toprofilePage.js"  nonce="<%= nonce %>" ></script>
    <script src="/js/encryptProgress.js" nonce="<%= nonce %>"></script>
    <script type="module" nonce="<%= nonce %>">
        import { uploadFiles, handleDragOver, handleDrop } from '../js/encrypt.js';
        import { shareFile } from '../js/share_file.js';

        module.uploadFiles = uploadFiles        
        module.handleDragOver = handleDragOver
        module.handleDrop = handleDrop
        module.shareFile = shareFile
    </script>
    
    <script type="module" src ="/js/googlepicker.js"  nonce="<%= nonce %>">
        
    </script>
    <script type ="module" src ="/js/onedrivepicker.js"  nonce="<%= nonce %>"></script>
    <script src="https://apis.google.com/js/api.js"  nonce="<%= nonce %>"></script>
    <script async defer src="https://apis.google.com/js/api.js"    nonce="<%= nonce %>"></script>
    <script async defer src="https://accounts.google.com/gsi/client"   nonce="<%= nonce %>" ></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"  nonce="<%= nonce %>"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"  nonce="<%= nonce %>"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"  nonce="<%= nonce %>"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"  nonce="<%= nonce %>"></script>
</body>
</html>
